/*
    fonts
*/
/* arabic */
@font-face {
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/lalezar/zrfl0HLVx-HwTP82YaL4IxL0.woff2") format("woff2");
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* vietnamese */
@font-face {
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/lalezar/zrfl0HLVx-HwTP82Yaj4IxL0.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/lalezar/zrfl0HLVx-HwTP82Yan4IxL0.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/lalezar/zrfl0HLVx-HwTP82Yaf4Iw.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* yekan */
@font-face {
  font-family: "Yekan";
  src: url("../fonts/yekan/Yekan.eot");
  src: url("../fonts/yekan/Yekan.eot?#iefix") format("embedded-opentype"), url("../fonts/yekan/Yekan.woff2") format("woff2"), url("../fonts/yekan/Yekan.woff") format("woff"), url("../fonts/yekan/Yekan.ttf") format("truetype"), url("../fonts/yekan/Yekan.svg#Yekan") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*
    elements
*/
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 1.1em;
  font-family: "Yekan", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lalezar", sans-serif;
}

/*
    dialog
*/
#dialog {
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  color: #fff;
}
#dialog .w3-display-container {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.32);
}
#dialog .w3-display-middle {
  width: 512px;
  background-color: white;
  color: black;
  border-radius: 8px;
  border: 1px solid #eee;
}
#dialog #dialog_header {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px 4px 0 0;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 1.28em;
  color: #333;
}
#dialog #dialog_close_btn {
  float: left;
  color: #ccc;
  font-size: 0.9em;
}
#dialog #dialog_close_btn:hover {
  cursor: pointer;
}
#dialog #dialog_content {
  padding: 16px;
  font-size: 0.9em;
  outline: none;
  border-radius: 4px;
  max-height: 512px;
  overflow-y: auto;
}

/*
    toast
*/
#toast {
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  color: #fff;
}
#toast .w3-display-container {
  height: 100%;
}
#toast p {
  background-color: black;
  font-size: 1.28em;
  padding: 16px;
  border-radius: 4px;
}

/*
    preloader
*/
#preloader {
  height: 100%;
}
#preloader .w3-display-container {
  height: 100%;
}
#preloader p {
  margin: 0;
  font-weight: bold;
  font-size: 3.2em;
}

/*
    wrapper
*/
#wrapper {
  height: 100%;
  display: none;
}

/*
    toolbar
*/
#toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: azure;
  border-bottom: 1px solid #eee;
  padding: 16px;
}
#toolbar a {
  text-decoration: none;
  font-weight: bold;
}

#tools {
  float: left;
  white-space: wrap;
}
#tools button {
  border: none;
  margin-left: 8px;
}
#tools button.active {
  background-color: #333;
  color: white;
}
#tools button:last-child {
  margin-left: 0;
}
#tools .action_group {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}
#tools .action_group button {
  margin-left: 0;
}
#tools .action_group button:last-child {
  margin-left: auto;
}

/*
    editor
*/
#editor {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #eee;
  padding: 16px;
  outline: none;
  overflow-y: scroll;
  font-size: 1.28em;
}
#editor pre {
  direction: ltr;
  text-align: left;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 16px;
  font-size: 0.9em;
}/*# sourceMappingURL=main.css.map */